body {
    font-family: Arial, Helvetica, sans-serif
}

/* header */

.header {
    background-color: #1F2937;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header-div {
    display: flex;
    margin: 0px 20%; 
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;

    display: flex;
    margin: 16px 0 0 16px;
    padding: 0;
}

.right-links {
    color: #E5E7EB;
    font-size: 18px;
    list-style: none;

    display: flex;
    margin: 16px 16px;
    padding: 0;
    gap: 16px;
    margin-left: auto;
}

.header-main-container {
    display: flex;
    align-items: flex-start;
    margin: 100px 20%;
}

.header-main-container img {
    max-width: 40%;
    height: auto;
}

.header-content {
    flex: 1;
    padding: 10px;
}

.header-main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.header-subtext {
    color: #E5E7EB;
    font-size: 18px;
}

.header button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bold;
    padding: 5px 30px;
    margin: 20px 0px;
    border:none;
    border-radius: 4px;
}


/* information */

.info-title,
.information {
    text-align: center;
}

.info-title {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    margin: 32px 0 32px 0;
}

.information {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 52px;
    margin: 100px 25%;
}

.info-container img {
    width: 150px;
    height: 150px;
}


/* quote */

.quote {
    background-color: #E5E7EB;
    padding: 1px 0;
}

.quote-container {
    margin: 100px 30%;
    display: flex;
    flex-direction: column;
}

.quote-text {
    color: #1F2937;
    font-size: 24px;
    font-style: italic;
}

.quote-name {
    font-size: 24px;
    font-style: bolder;
    display: flex;
    align-self: flex-end;
}

/* signup */

.signup {
    display: flex;
    margin: 100px 20%;
}

.signup-container {
    background-color: #3882F6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 40px 0;
    border-radius: 8px;
}

.signup-title {
    color: #F9FAF8;
    font-size: 20px;
    font-style: bolder;
}

.signup-text {
    color: #E5E7EB;
    font-size: 14px;
}

.signup-button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 16px;
    font-style: bolder;
    border-radius: 4px;
    border-color: #F9FAF8;
    padding: 0 20px;
    margin: 0 80px;
}

/* footer */

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}